body{
    background: linear-gradient(#2E368F 80%, #9acff2) !important;
    direction: rtl;
}

.aboutText {
    text-align: right;
}

.engSection > .title{
 text-align: right;
}

.engSection > .title::after{
    width: 5.25em;
    margin-right: 0 !important;
}

.features > li {
    text-align: center;
}